.aboutSection {
   background-color: $primary;
   h2 {
      color: white;
      text-transform: uppercase;
   }
   .aboutPic {
      width: 25%;
      margin-bottom: 1rem;
      margin-top: 2rem;
      img {
         // height: 25vh;
         width: 100%;
      }
   }
   .aboutInfo {
      margin-top: 1rem;
      p { 
         color: white;
      }
   }
}