// base styles // 

// ~ wrapper to contain items ~ //
.wrapper {
   max-width: 1260px;
   width: 80%;
   margin: 0 auto;
}

// ~ flex items ~ //
.flex {
   display: flex;
   justify-content: space-between;
}

* {
   scroll-behavior: smooth;
   padding: 0;
   margin: 0;
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   transition: all 2s ease;
}

section {
   h2 {
      border-bottom: 1px solid white;
      width: 100%;
      padding-bottom: 0.5rem;
      font-family: 'Antonio', sans-serif;
      font-size: 2rem;
   }
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.projectSection {
   padding-bottom: 3rem;
}

.aboutSection,
.projectSection,
.skillsSection,
.blogSection,
.contactSection {
   padding-top: 4rem;
   padding-bottom: 4rem;
}

a,
button,
input,
textarea {
   &:focus {
      border: 1px solid purple;
   }

   &:active {
      border: 1px solid blue;
   }
}

.appButton {
   display: inline-flex;
   height: 40px;
   width: 150px;
   border: 2px solid #BFC0C0;
   margin: 20px 20px 20px 20px;
   color: #BFC0C0;
   text-transform: uppercase;
   text-decoration: none;
   font-size: .8em;
   letter-spacing: 1.5px;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   a {
      color: #BFC0C0;
      text-decoration: none;
      letter-spacing: 1px;
   }
}

#button-2 {
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

#button-2 a {
   position: relative;
   transition: all .35s ease-Out;
}

#slide {
   width: 100%;
   height: 100%;
   left: -200px;
   background: #BFC0C0;
   position: absolute;
   transition: all .35s ease-Out;
   bottom: 0;
}

#button-2:hover #slide {
   left: 0;
}

#button-2:hover a {
   color: #2D3142;
}