   //  font-family: 'Antonio', sans-serif;
   //  font-family: 'Jost', sans-serif;

// ~ wrapper to contain items ~ //
.wrapper {
   max-width: 1260px;
   width: 90%;
   margin: 0 auto;
}

// ~ flex items ~ //
.flex {
   display: flex;
   justify-content: space-between;
}

* {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.aboutSection,
.projectSection,
.skillsSection,
.blogSection,
.contactSection {
   height: 100vh;
   padding-top: 4rem;
}