// base styles // 

// ~ wrapper to contain items ~ //
.wrapper {
   max-width: 1260px;
   width: 80%;
   margin: 0 auto;
}

// ~ flex items ~ //
.flex {
   display: flex;
   justify-content: space-between;
}

* {
   scroll-behavior: smooth;
   padding: 0;
   margin: 0;
   font-family: 'Jost', sans-serif;
   font-weight: 400;
   transition: all 2s ease;
}

section {
   h2 {
      border-bottom: 1px solid white;
      width: 100%;
      padding-bottom: 0.5rem;
      font-family: 'Antonio', sans-serif;
      font-size: 2rem;
   }
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.projectSection {
   padding-bottom: 3rem;
}

.aboutSection,
.projectSection,
.skillsSection,
.blogSection,
.contactSection {
   padding-top: 4rem;
   padding-bottom: 4rem;
}

a,
button,
input,
textarea {
   &:focus {
      border: 1px solid purple;
   }

   &:active {
      border: 1px solid blue;
   }
}