// contact styles // 
.contactSection {
   background-color: $secondary;
   h2 {
      color: $solidWhite;
      text-transform: uppercase;
   }
   .socialContainer {
      margin-top: 2rem;
      align-items: center;
      text-align: center;
      a {
         color: $sepnary;
         padding: 0 1rem;
         i {
            font-size: 1.5rem;
            &:hover {
               color: $quaternary;
            }
         }
      }
   }
   .contactMessage {
      color: $solidWhite;
      font-family: 'Jost', sans-serif;
      font-size: 1.2rem;
      margin: 3rem auto;
      width: 90%;
      text-align: center;
      text-transform: uppercase;
   }
   form {
      display: flex;
      flex-direction: column;
      label {
         display: none;
      }
      input {
         width: 100%;
         height: 2rem;
         margin-bottom: 0.7rem;
         padding: 0.5rem;
         border-radius: 0;
         border: none;
         &:focus{
            border: 3px solid #CB8B44;         }
      }
      textarea {
         width: 100%;
         height: 5rem;
         border-radius: 0;
         padding: 0.5rem;
         border: none;
         &:focus,
         &:active {
            border: 3px solid #CB8B44;
         }
      }
      .appButton {
         margin: 0 auto;
         &:hover button {
            background-color: rgba(255,255,255,0.0);
            
         }
      }
      button {
         padding: 0;
         background-color: rgba(255, 255, 255, 0.0);
         border: none;
         font-family: "Antonio", san-serif;
         text-transform: uppercase;
         font-size: 1.2rem;
         color: $solidWhite;

      }
   }
}

.contactForm {
   width: 70%;
}