// footer styles //
footer {
   background-color: $secondary;
   .wrapper p {
      color: $solidWhite;
      text-align: center;
      font-family: "Jost", sans-serif;
      padding: 2rem 0;
   }
}

