// ~ 1140px media query ~ //
@media (max-width: 1140px) {

   // ~ navigations styles ~ //
   .navbar {
      .navContainer {
         width: 62%;
      }
   }
   .aboutSection {
      .aboutInfo {
         .name {
            width: 45%;
         }
      }
   }
}

// ~ 1140px media query ends ~ // 

@media (max-width: 1040px) {
   .aboutSection {
      .aboutInfo {
         .name {
            width: 50%;
         }
      }
   }
}

// ~ 940px media query ~ //
@media (max-width: 940px) {

   // ~ navigations styles ~ //
   .navbar {
      .navContainer {
         width: 70%;
      }
   }
   header {
      div h1 {
         width: 7 0%;
      }
   }

   .aboutSection {
      .aboutPic {
         img {
            height: 15rem;
         }
      }
      .aboutInfo {
         .name {
            font-size: 1rem;
            width: 48%;
         }
      }
   }
   .projectContainer {
      .project {
         flex-direction: column;
         width: 100%;
         .projPic,
         .projLang,
         .projSum {
            width: 90%;
            margin: 0 auto;
         }
         .projLang .link {
            width: 25%;
         }
         .projName {
            padding-top: 1rem;
            font-size: 2rem;
         }
         .projButtons {
            display: flex;
            flex-direction: row;
         }
         .projSum {
            padding-top: 2rem;
            border-top: 1px solid grey;
         }
      }
   }
}

// ~ 940px media query styles ends ~ //

// // ~ 768px media query ~ //
@media (max-width: 768px) {

   // ~ navigations styles ~ //
   .navbar {
      .hiddenFlex {
         .visibility,
         .display, 
         .hamburger {
            display: block;
         }
         .visibility {
            visibility: hidden;
         }
         .display a {
            color: $solidWhite;
         }
      }
      .nav-menu {
         background-color: $solidWhite;
         position: fixed;
         left: -103%;
         top: 59px;
         gap: 0;
         padding: 10px 0;
         text-align: center;
         transition: 0.3s;
         .nav-item {
            padding: 10px;
            width: 90%;
         }
      }
      .nav-menu.active {
         // background: linear-gradient(180deg, $quaternary, $quaternary, rgb(108, 173, 141));
         background-color: $quaternary;
         left: 0px;
         border-top: 1px solid $solidWhite;
         // border-bottom: 1px solid $solidWhite;
         height: 60vh;
         justify-content: space-evenly;
      }
      .flex {
         flex-direction: column;
      }
      .navContainer {
         width: 100%;
         h2 {
            width: 100%;
            text-align: center;
            display: none;
         }
         .hamburger {
            display: block;
            font-size: 1.5rem;
            color: black;
         }
      }
   }
   header {
      padding: 6rem 0;
      div h1 {
         width: 80%;
         font-size: 7rem;
      }
   }

   .aboutSection {
      .aboutPic {
         img {
            height: 11rem;
         }
      }
      .aboutInfo {
         .name {
            width: 68%;
         }
      }
   }
}

// ~ 768px media query styles ends ~ //

// ~ 600px media query ~ // 
@media (max-width: 600px) {
   header {
      div h1 {
         width: 90%;
         font-size: 6rem;
      }
   }
   section {
      h2 {
         font-size: 1.5rem;
      }
   }
   .aboutSection {
      .aboutPic {
         width: 35%;
         img {
            height: 13rem;
         }
      }
      .aboutInfo {
         .name {
            width: 80%;
            font-size: .9rem;
         }
      }
   }
   .projectContainer {
      .project {
         .projLang .link {
            width: 50%;
         }
      }
   }
   .skillsSection {
      .skillsContainer {
         .languageBox {
            width: 33%;
         }
      }
   }
   .contactMessage {
      p {
         font-size: 1.2rem;
      }
   }
}

// // ~ 600px media query ends ~ // 

@media (max-width: 480px) {
   .aboutSection {
      .aboutPic {
         width: 50%;
         img {
            height: 15rem;
         }
      }
      .aboutInfo {
         .name {
            width: 95%;
         }
         button {
            padding: 0.75rem 1.5rem;
         }
      }
   }
   .skillsSection {
      .skillsContainer {
         .languageBox {
            span {
               font-size: 0.8rem;
            }
         }
      }
   }
   footer {
      .wrapper {
         p {
            font-size: .8rem;
         }
      }
   }
}