
.navbar {
   background-color: $secondary;
   //  font-family: 'Antonio', sans-serif;
   font-family: 'Antonio', sans-serif;
   position: sticky;
   top: 0;
   z-index: 10;
   padding: 1rem 0;
   border-bottom: 0.02rem solid white;
   .hiddenFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .visibility {
         display: none;
      }
      .display,
      .hamburger {
         display: none;
         color: white;
      }
   }
   .navContainer {
      width: 55%;
      margin: 0 auto;
      align-items: center;
      h2 a {
         color: white;
      }
      li {
         text-transform: uppercase;
         a {
            color: white;
            &:hover {
               color: limegreen;
            }
         }
      }
   }
}