// navigation styles // 

.navbar {
   background-color: $quaternary;
   // background-color: $senary;
   font-family: 'Antonio', sans-serif;
   position: sticky;
   top: 0;
   z-index: 10;
   padding: 1rem 0;
   border-bottom: 0.02rem solid $solidWhite;
   .hiddenFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .visibility {
         display: none;
      }
      .display a {
         width: 10%;
      }
      .logoContainer {
         width: 90%;
         margin: 0 auto;
         .logoNav {
            width: 100%;
            margin-bottom: -0.5rem;
         }
      }
      .display,
      .hamburger {
         display: none;
         color: $solidWhite;
      }
   }
   .navContainer {
      width: 80%;
      margin: 0 auto;
      align-items: center;
      h2 {
         width: 6%;
      }
      h2 a {
         color: $solidWhite;
      }
      li {
         text-transform: uppercase;
         a {
            color: $solidWhite;
            &:hover {
               color: #CB8B44;
               // text-decoration: line-through;
               // text-decoration-color: #474543;
               transition: .2s ease;
            }
         }
      }
   }
}