.projectSection {
   background-color: $secondary;
   h2 {
      color: white;
      text-transform: uppercase;
   }
   .projectButtons {
      list-style-type: none;
   }
   a {
      list-style-type: none;
   }
   button {
      list-style-type: none;
   }
}
