// project styles //

.projectSection {
   background-color: $secondary;
   h2 {
      color: $solidWhite;
      text-transform: uppercase;
   }
   .projectButtons {
      list-style-type: none;
   }
   a {
      list-style-type: none;
   }
   button {
      list-style-type: none;
   }
}

.projectContainer {
   .project {
      margin: 2rem auto;
      color: $solidWhite;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgb(124, 122, 122);
      padding-bottom: 2rem;
      .projPic,
      .projLang,
      .projSum {
         width: 30%;
      }
      .projName {
         font-family: 'Antonio', sans-serif;
         width: 100%;
         font-size: 1.5rem;
         margin-bottom: 1rem;
         text-transform: uppercase;
         letter-spacing: .2rem;
      }
      .projLang,
      .projSum {
         font-family: 'Jost', sans-serif;
      }
      .projSum {
         display: block;
         p {
            width: 100%;
            font-size: 1.2rem;

         }
         .minha {
            color: white;
         }
      }
      .projLangs {
         padding-top: 1rem;
      }
      .projLang {
         display: flex;
         flex-direction: column;
         a {
            color: #CB8B44;
            width: 100%;
         }
         p {
            width: 100%;
         }
         button {
            width: 100%;
            background-color: $secondary;
            font-family: 'Antonio', sans-serif;
            font-size: 1.2rem;
            border: none;
            color: $solidWhite;
            padding: .5rem 0;
            margin: .5rem 0;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            &:hover {
               color: $senary;
               text-decoration: underline;
               text-underline-offset: 8px;
            }
            i {
               color: $quaternary;
            }
         }
      }
      .projPic {
         width: 28%;
         margin: 0 auto 0 0;
         border: 2px solid $solidWhite;
         img {
            width: 100%;
         }
      }
   }
}