// // site colors //
$primary: #181818;
// $primary: #3F422F;
$secondary: #070707;
$tertiary: #32cd32;
$quaternary: #EFEAE3;
// $quaternary: #A08870;
// $quaternary: #Ab9381;
// $quaternary: #93e9be;
$quinary: #808080;
$senary: #3F422F;
// $senary: #1b4480;
$solidWhite: #ffffff;